@import "../../../globalStyles/scss/variables.scss";

.login-form {
  .input {
    margin-bottom: $spacer;
  }
  .form-error{
    display: block;
    margin: 0 0 1.5rem;
  }
  .smsCodebtn {
    padding: 0.5rem;
    margin-left: 1rem;
  }

  .displayflex {
    display: flex;
  }


  &__button {
    margin-top: $spacer * 2;
    padding: 0 $spacer * 1.5;
    text-align: center;
  }
}

.phoneField{
  position: relative;
  .startNum{
    position: absolute;
    left: 0.9rem;
    top: 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // width: 40px;
    // height: 46px;
    margin-bottom: 1rem;
    // border: 1px solid #21125e;
    background: $white;
    z-index: 1;
  }
  .input{
    width: 100%;
    .input__field:focus + .input__label {
      left: 17px;
    }
   .input__label{
      left: 34px;
      padding: 0 6px;
    }
    input{
      padding: 0.8rem 1rem 0.8rem 2.1rem;
    }

  }
}

.passwordInput {
  display: flex;

  .passwordEye {
    height: 46px;
    border: 1px solid black;
    width: 40px;
    cursor: pointer;
    padding: 0.7rem 0.3rem;
  }

  .input {
    width: 100%;
  }
}