@import "../../../globalStyles/scss/variables.scss";
.account {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-bottom: 2rem;

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }

  &__menu {
    width: 360px;
    margin-right: 2rem;
  }

  &__content {
    width: 100%;
    overflow: hidden;
    table{
      width: 100%;
      overflow-x: scroll;
      margin: 0;
      @media (max-width: 992px) {
        display: block;
      }
      thead{
        width: 100%;
      }
      tr{
        display: flex;
        cursor: pointer;
      }
      th, td{
        width: 20%;
        min-width: 150px  !important;
      }
      tbody{
        overflow-y: auto;
        height: 500px;
      }
      .proImg{
        width: 100%;
        img{
          width: 30px;
          margin: 0 auto;
          display: inline-block;
        }
      }
     
      }
    }
  }

