@import "../../../globalStyles/scss/variables.scss";

.side-nav {
  $item-height: 3.7rem;
  max-width: calc(100vw - 5rem);
  width: 30rem;
  max-height: 100vh;
  overflow-y: scroll;

  &__menu-item {
    border-bottom: 1px solid $gray-light;
    display: grid;
    height: $item-height;

    &-link,
    &-back span {
      align-items: center;
      color: $base-font-color;
      display: flex;
      font-weight: 600;
      padding: $spacer;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;

      svg * {
        fill: currentColor;
      }
    }

    &-logo {
      width: 180px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 0 0 0.5rem;
    }

    &-link,
    &-more,
    &-back,
    &-close {
      transition: 0.3s;

      &:hover {
        color: #5fbe43;
      }

      svg * {
        fill: currentColor;
      }
    }

    &-close,
    &-more,
    &-back {
      &:hover {
        cursor: pointer;
      }
    }

    &-more {
      align-self: center;
      padding: 1.25rem 1.75rem;
    }

    &-back {
      svg {
        margin-right: 1rem;
      }
    }

    &-close {
      align-items: center;
      display: flex;
      height: $item-height;
      justify-content: center;

      span {
        background-color: currentColor;
        border-radius: 1px;
        height: 3px;
        width: 24px;
        position: absolute;
      }
      .line1{
        transform: rotate(45deg);
      }
      .line2{
        transform: rotate(-45deg);
      }


      &:hover {
        color: #5fbe43;
      }
    }

    &--has-subnavigation,
    &--parent {
      grid-template-columns: 1fr $item-height;
    }

    &--parent {
      color: $gray;
      position: fixed;
      background: #fff;
      width: 15rem;

      a {
        color: inherit;
      }
    }
  }
}
