@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 2rem 0 4rem;
  .featuredContainer{
    padding: 0 3rem
  }
  h3 {
    font-weight: $bold-font-weight;
    margin-bottom: $spacer * 2;
    text-transform: uppercase;
    padding: 0.5rem;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    width: 25%;
    text-decoration: none;
    padding: 0 0.5rem;
  }
  @media(max-width: 991px){
    a{
      width: 33.333% !important;
    }
  }
  @media(max-width: 767px){
    a{
      width: 50% !important;
    }
  }
  // @media(max-width:424px){
  //   a{
  //     width: 100% !important;
  //   }
  // }
  @media(max-width: 575px){
    .featuredContainer{
      padding: 0 1rem
    }
  }

  .products-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
