@import "../../../globalStyles/scss/variables.scss";

.product-list-item {
  text-align: center;
  // padding: 1rem;
  width: 100%;
  // border: 1px solid #80808024;

  &__title {
    text-transform: $product-item-title-text-transform;
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer;
    text-align: left;
    min-height: 44px;
  }
  @media(max-width:480px){
    &__title {
      min-height: 60px;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
    margin: 0 1rem 0 0;
  }

  &__category {
    color: $product-item-category-color;
    text-align: left;
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    margin: $product-item-price-margin;
    text-align: left;
    margin: 0;
    width: 50%;
  }

  &__image {
    background-color: $turquoise-light;
    display: flex;
    height: 350px;
    justify-content: center;

    img {
      object-fit: contain;
      max-width: 100%;
      // width: 100%;
    }
   
    @media (max-width: $small-screen) {
      height: 170px;
    }
  }
  .footerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .buyBtn{
    background: #F43C3C;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.mb{
  margin: 1.5rem 0 0;
}