@import "../../../globalStyles/scss/variables.scss";

.product-list-item {
  text-align: center;
  padding: 0 0.5rem;
  width: 100%;
  // border: 1px solid #80808024;

  &__title {
    // text-transform: $product-item-title-text-transform;
    font-weight: 500;
    margin-top: $spacer;
    text-align: left;
    min-height: 44px;
    max-height: 44px;
    overflow: hidden;
    font-size: 1.1rem;
  }
  @media (max-width: 480px) {
    &__title {
      min-height: 60px;
      max-height: 60px;
      overflow: hidden;
    }
    &__category {
      min-height: 60px !important;
      max-height: 60px !important;
      overflow: hidden;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
    margin: 0 1rem 0 0;
  }
  @media (max-width: 480px) {
    &__undiscounted_price {
      height: 20px;
      margin: 0;
    }
  }

  &__category {
    color: $product-item-category-color;
    text-align: left;
    min-height: 40px;
    max-height: 40px;
    line-height: 1.2rem;
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    margin: $product-item-price-margin;
    text-align: left;
    margin: 0;
    width: 50%;
  }
  @media (max-width: 480px) {
    &__price {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      height: 50px;
      align-items: flex-end;
      width: 100%;
      span {
        width: 100%;
      }
    }
  }

  &__image {
    // background-color: $turquoise-light;
    display: flex;
    height: 250px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    .saleDiscount {
      padding: 4.2rem 1.5rem 0.2rem 1.5rem;
      position: absolute;
      right: -43px;
      top: -48px;
      background: red;
      font-weight: 600;
      transform: rotate(45deg);
      color: #fff;
      width: 80px;
    }
    img {
      object-fit: contain;
      max-width: 100%;
      min-width: 185px;
      @media (max-width: 992px) {
        min-width: 100%;
      }
    }

    // @media (max-width: $small-screen) {
    //   height: 170px;
    // }
  }
  .footerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: relative;
  }
  .advancebook {
    position: absolute;
    left: 0;
    bottom: 0;
    color: grey;
    font-size: 12px;
  }
  @media (max-width: 480px) {
    .footerDiv {
      padding: 1rem 0 0.4rem;
    }
    .advancebook {
      bottom: 30px;
    }
  }
  .buyBtn {
    background: #f43c3c;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.mb {
  margin: 1.5rem 0 0;
  border: 1px solid #f6f6f6;
}
