@import "../../../globalStyles/scss/variables.scss";

.footer {
  background: #54be42;
  padding: 2rem 0;
  margin: 2rem 0 0;
  .footer-list {
    display: flex;
    justify-content: space-between;
  }
  .footer-item {
    width: 33.33%;
  }
  h4 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 2rem;
}
.quick-links{
  ul{
    padding: 0;
  }
  svg{
    margin: 0 0.5rem 0 0;
  }
  path {
    fill: #fff !important;
  }
  li{
    margin: 0 0 1rem;
    a{
      color: white;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

  }
}
.pay-method {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  li{
    margin: 0 1rem 1rem 0;
    border-radius: 3px;
    overflow: hidden;
    // background: #fff;
    // width: 115px;
    // height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
  }
  .cash-delivery {

    font-size: 14px;
    font-weight: 600;
  }
  img{
    width: 70%;
  }
}
.social-media{
    display: flex;
  li{
    background: #60d852;
    margin: 0 1rem 1rem 0;
    width: 40px;
    height: 40px;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    img{
      width: 20px;
    }
  }
}
.social-icon svg *{
  fill: #fff;
}

@media(max-width:800px){
  .footer-list {
    flex-wrap: wrap;
  }
  .footer-item {
    width: 50%;
  }
}
@media(max-width:536px){
  .footer-item {
    width: 100%;
    margin: 0 0 2rem;
  }
  .footer-item:last-child {
    margin: 0;
  }
}
  &__favicons {
    // border-top: 1px solid $gray-light;
    border-top: 1px solid #60d852;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0 0;
    p {
      padding: 1.5rem 0 0;
      color: white;
      font-size: 14px;
      font-weight: 600;
    }
    @media(max-width:480px){
      p{
        width: 100%;
        text-align: center;
      }
    }
  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;
      
      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }

  &-nav {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div:not(:last-of-type) {
        padding-right: $spacer * 3;
      }
    }

    &__section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
        text-transform: uppercase;
      }

      &-content {
        p {
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }
}
