@import "../../../globalStyles/scss/variables.scss";

.breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  margin: $spacer 0;
  .backLink{
    padding: 0.5rem 1rem;
    border: 1px solid #7d7d7d;
    margin: 1rem 0 0;
    border-radius: 5px;
  }
  li {
    &:not(:last-of-type) {
      &:after {
        content: url("../../../images/breadcrumbs-arrow.svg");
        display: inline-block;
        margin: 0 $spacer / 2;
      }
    }

    a {
      color: $gray-dark;
      text-decoration: none;
      vertical-align: middle;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: #54be42;
      }
    }
  }

  &__active {
    a {
      color: $base-font-color;
      font-weight: $bold-font-weight;

      &:hover {
        color: $base-font-color;
      }
    }
  }
}
