@import "../../../globalStyles/scss/variables.scss";

.password-reset-form {
  .input {
    margin: $spacer 0 $spacer * 2;
  }

  .displayflex {
    display: flex;
  }
  
  .smsCodebtn {
    padding: 0.5rem;
    margin-left: 1rem;
  }
  
  &__button {
    text-align: center;
    margin: $spacer * 2 0 $spacer * 2 $spacer * 2;
  }
}
